<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true">
    <testsuites>
        <testsuite name="Laminas MVC Application Test Suite">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Todo">
            <directory>./module/Todo/test</directory>
        </testsuite>
    </testsuites>
</phpunit>